{% extends "base.html" %}
{% block main %}
<form method="post">
        {% csrf_token %}
        <div class="mb-4">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Введите ваш username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Пароль</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль"
            required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Войти</button>
      </form>
      

{% endblock main %}