{% extends "base.html" %}
{% block main %}

<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" >Имя</label>
        <input type="text"  id="name" name="name" placeholder="Введите ваше имя" required>
    </div>

    <div class="mb-4">
          <label for="surname" >Фамилия</label>
          <input type="text" id="surname" name="surname" placeholder="Введите вашу Фамилию" required>
    </div>

    <div class="mb-4">
          <label for="username" class="form-label">Username</label>
          <input type="text"  id="username" name="username" placeholder="Введите ваш username" required>
    </div>


    <div class="mb-3">
          <label for="email" class="form-label">Email адрес</label>
          <input type="email"  id="email" name="email" placeholder="Введите email" required>
    </div>
        
    <div class="mb-3">
          <label for="password" class="form-label">Пароль</label>
          <input type="password"  id="password" name="password" placeholder="Введите пароль"
            required>
    </div>
    <div class="mb-3">
          <label for="confirmPassword" >Подтверждение пароля</label>
          <input type="password" id="confirmPassword" name="confirmPassword"
            placeholder="Повторите пароль" required>
    </div>
        <button type="submit">Зарегистрироваться</button>
</form>

{% endblock %}